.books-container {
    border: solid 1px #ccc;
    border-radius: 5px;
    margin: 10px;
    padding: 0%;
}

.buttons-container {
    display: flex;
    justify-content: center;
    margin: 10px;
    gap: 10px;
}

input {
  width: 80%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;
  margin-top: 12px;
}

/* input[type="submit"] {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

input[type="text"] {
    color: red;
} */